* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
  }
.header {
  display: flex;
  position: sticky;

   
 
}

.product-list {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


